@charset "UTF-8";
/* Reset CSS */
* {
  Margin: 0;
  padding: 0; }

/* Setear tamaño rem=10px (aprox) */
html {
  font-size: 62,5%; }

/* Mixin textos */
/* Mixin imágenes */
/* Color Map */
/* Font styles */
body {
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 10vw;
  line-height: 10vw;
  font-weight: 500;
  color: #1B1464; }

h2 {
  font-size: 6vw;
  line-height: 6vw;
  font-weight: 500;
  color: #1B1464; }

h3 {
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 400;
  color: #1B1464;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

h4 {
  font-size: 2vw;
  line-height: 2.3vw;
  font-weight: 400;
  color: #1E58DE; }

h5 {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 300;
  color: #1E58DE; }

p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  color: #1B1464; }

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4vw);
    height: var(--size, 4vw); }
  100% {
    width: 0rem;
    height: 0rem; } }

@keyframes bubble-move {
  0% {
    bottom: -4vw; }
  100% {
    bottom: var(--distance, 10vw); } }

header {
  background-color: rgba(255, 255, 255, 0.3);
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  header .logo {
    transition: 2s; }
    header .logo:hover {
      transform: scale(1.1, 1.1);
      background-image: url(../media/gif/efecto.gif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
  header p {
    margin-left: 11rem;
    color: #1B1464;
    font-size: 1rem; }
  header div {
    display: flex;
    align-items: center;
    margin-right: 7rem; }
    header div img {
      transition: 1s; }
      header div img:hover {
        opacity: 60%;
        transform: scale(1.1, 1.1); }
    header div p {
      display: inline-block;
      margin-right: 2rem;
      font-size: 0.8rem;
      font-weight: 400;
      transition: 2s; }
      header div p:hover {
        font-weight: 500;
        font-size: 1rem; }

.logo {
  max-height: 13rem;
  position: fixed;
  margin-top: 0.8rem; }

.redes {
  padding-right: 0.9vw;
  height: 3vw;
  align-items: center;
  transition: 1s; }
  .redes:hover {
    opacity: 60%;
    transform: scale(1.1, 1.1); }

.navbar {
  display: none; }

nav {
  position: fixed;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 50rem;
  margin-left: -14rem; }
  nav ul li {
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.6rem; }
    nav ul li a {
      text-decoration: none;
      color: #2365FF;
      width: 100%;
      height: 100%;
      transition: 1s; }
      nav ul li a:hover {
        color: #1B1464;
        font-size: 120%; }
  nav ul .destacado {
    font-size: 1.8rem;
    font-style: oblique;
    color: #1B1464; }

footer {
  background-color: #1B1464;
  margin-top: 5vw;
  padding-bottom: 5vw;
  position: relative;
  z-index: 100; }
  footer .footer {
    z-index: -1;
    --footer-background:#1B1464;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 6vw;
    margin-left: 4vw;
    margin-right: 10vw; }
    footer .footer .bubbles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1vw;
      background: var(--footer-background);
      filter: url("#blob"); }
      footer .footer .bubbles .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%); }
  footer section {
    padding-right: 7rem;
    margin-left: 11rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    align-content: space-around; }
    footer section .copy {
      color: whitesmoke;
      align-self: flex-center;
      text-align: center; }
    footer section .datosfooter {
      display: grid;
      grid-template-columns: auto 2fr;
      column-gap: 2vw; }
      footer section .datosfooter .logofooter {
        height: 5vw;
        align-content: center; }
      footer section .datosfooter .direccion {
        color: #2365FF; }

body {
  background: linear-gradient(-45deg, #cde6feaf, #ffffff, #eaf9ffa0, #fafafa);
  background-size: 500% 900%;
  animation: gradient 8s ease infinite;
  height: 100vh; }
  body main {
    margin-right: 7rem;
    margin-left: 11rem;
    padding-top: 4vw;
    padding-bottom: 8vw;
    caret-color: #1E58DE; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.mainprincipal {
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr;
  grid-template-areas: "principal principal" "principal2 principal3";
  row-gap: 4vw;
  column-gap: 4vw; }
  .mainprincipal .seccionprincipal1 {
    grid-area: principal; }
    .mainprincipal .seccionprincipal1 div h1 b {
      color: transparent;
      background: url(../media/jpg/imagen1.jpg);
      -webkit-background-clip: text; }
    .mainprincipal .seccionprincipal1 div a {
      margin-top: 1vw;
      font-size: 3vw;
      line-height: 3vw;
      text-decoration: none;
      transition: 0.5s; }
      .mainprincipal .seccionprincipal1 div a:hover {
        color: #2365FF;
        border-radius: 2rem;
        height: fit-content;
        width: fit-content;
        padding-left: 1vw;
        padding-right: 1vw; }
    .mainprincipal .seccionprincipal1 .divisor {
      margin-top: 4vw; }

.newsletterindex {
  grid-area: principal2;
  background-color: #c0d3fe;
  padding: 2vw;
  padding-bottom: 2rem;
  flex-basis: 70%; }
  .newsletterindex .newsletter {
    font-size: 1.5rem;
    color: #1E58DE; }
    .newsletterindex .newsletter input[type=submit] {
      background-color: rgba(240, 248, 255, 0);
      border: 0.1rem solid;
      color: #1E58DE;
      height: 2rem;
      width: 5rem;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      transition: 1s; }
      .newsletterindex .newsletter input[type=submit]:hover {
        border-radius: 1rem; }
    .newsletterindex .newsletter input[type=email] {
      border: 0.1rem solid #2365FF;
      border-radius: 2rem;
      height: 2rem;
      width: 16rem;
      padding-left: 1vw;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem; }

.carruselindex2 {
  grid-area: principal3; }
  .carruselindex2 .carousel-indicators [data-bs-target] {
    background-color: #1B1464;
    width: 4rem;
    height: 0.2rem; }

body a {
  text-decoration: none; }

body .mainstore {
  padding-bottom: 0%; }

.tipoproductos {
  padding-top: 5vw;
  padding-bottom: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 4vw;
  grid-row-gap: 3vw; }
  .tipoproductos img {
    width: 100%; }
  .tipoproductos a {
    padding-right: 1rem;
    padding-left: 0.5rem;
    border: 0.1rem solid #1E58DE;
    color: #2365FF;
    height: 100%;
    width: 100%;
    transition: 1s; }
    .tipoproductos a:hover {
      border-radius: 2rem;
      height: fit-content;
      width: fit-content;
      font-size: 120%; }
  .tipoproductos p {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .tipoproductos .comosehacen {
    background-color: #c0d3fe;
    object-fit: contain; }
    .tipoproductos .comosehacen div {
      padding-left: 2rem;
      padding-right: 2rem; }
    .tipoproductos .comosehacen p {
      font-weight: 400; }

.acordionstore {
  padding-bottom: 6rem;
  background-color: #c0d3fe; }
  .acordionstore .accordion {
    margin: 2rem;
    --bs-accordion-color:map-get($color, principal);
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-active-color: map-get($color, secundario);
    --bs-accordion-active-bg: hsl(0, 0%, 100%);
    --bs-accordion-active-bg:map-get($color, fondo); }
    .acordionstore .accordion h3 {
      padding-top: 4vw;
      padding-bottom: 2vw; }
    .acordionstore .accordion-button {
      font-size: 1.5rem;
      color: #1B1464; }
    .acordionstore .accordion-collapse {
      font-weight: 400; }
    .acordionstore .accordion-body {
      color: #1B1464; }

body main .tituloartwork {
  margin-bottom: 1rem; }

body main .descripciontrabajosdestacados {
  font-weight: 400; }

body main .bloqueartwork {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3rem;
  margin-top: 2rem;
  column-gap: 5rem;
  background-color: #c0d3fe; }
  body main .bloqueartwork h5 {
    font-weight: 500; }
  body main .bloqueartwork img {
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: 1s; }
    body main .bloqueartwork img:hover {
      transform: scale(1.05, 1.05); }
  body main .bloqueartwork p {
    font-size: 1.5vw;
    line-height: 1.8vw; }

body main .tituloartwork2 {
  margin-top: 7vw; }

body main .bloqueultimos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 7rem;
  column-gap: 5vw; }
  body main .bloqueultimos img {
    width: 100%;
    transition: 1s; }
    body main .bloqueultimos img:hover {
      transform: scale(1.05, 1.05); }
  body main .bloqueultimos div p {
    font-size: 2vw; }
  body main .bloqueultimos div h4 {
    font-size: 3vw;
    line-height: 3.2vw;
    padding-bottom: 1.5vw; }

body main #galeria {
  padding: 0px;
  padding-bottom: 3rem; }
  body main #galeria img {
    width: 100%;
    height: 100%;
    transition: 1s; }
    body main #galeria img:hover {
      transform: scale(1.05, 1.05); }
  body main #galeria .col-lg-3 {
    padding-bottom: 2rem; }

body main {
  padding-bottom: 0px; }
  body main .mainproyecto {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagen1 tituloproyecto tituloproyecto" "sobreproyecto imagen2 imagen2";
    grid-column-gap: 2rem;
    grid-row-gap: 3rem; }
    body main .mainproyecto .imagenproyecto1, body main .mainproyecto .imagenproyecto2 {
      grid-area: imagen1;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    body main .mainproyecto .tituloproyecto {
      grid-area: tituloproyecto;
      margin: 0%; }
    body main .mainproyecto .sobreproyecto {
      grid-area: sobreproyecto;
      background-color: #c0d3fe;
      padding: 1.3rem; }
    body main .mainproyecto .imagenproyecto2 {
      grid-area: imagen2; }
  body main .formproyecto {
    padding-bottom: 6rem;
    background-color: #c0d3fe;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem; }
    body main .formproyecto .formularioprincipal input[type=submit] {
      background-color: rgba(240, 248, 255, 0);
      border: 0.1rem solid;
      color: #1E58DE;
      height: 2rem;
      width: 5rem;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      transition: 1s; }
      body main .formproyecto .formularioprincipal input[type=submit]:hover {
        border-radius: 1rem; }
    body main .formproyecto .formularioprincipal label {
      font-size: 1.5rem;
      color: #1E58DE; }
    body main .formproyecto .formularioprincipal .form1, body main .formproyecto .formularioprincipal .form2, body main .formproyecto .formularioprincipal .form3 {
      font-size: 1.3rem;
      color: #1E58DE;
      margin: 1rem 1rem 1rem 1rem; }
      body main .formproyecto .formularioprincipal .form1 input, body main .formproyecto .formularioprincipal .form2 input, body main .formproyecto .formularioprincipal .form3 input {
        border: 0.1rem solid #2365FF;
        border-radius: 2rem;
        height: 2rem;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        padding-left: 1rem; }
    body main .formproyecto .formularioprincipal .form2 input {
      border: 0.1rem solid #2365FF;
      border-radius: 2rem;
      height: 2rem;
      width: 100%;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      justify-content: space-between; }
    body main .formproyecto .formularioprincipal .form3 textarea {
      width: 100%;
      height: 14rem;
      box-sizing: border-box;
      border: 0.1rem solid #2365FF;
      border-radius: 1rem;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      padding: 00.5rem 1rem 0.5rem 1rem; }
    body main .formproyecto .formularioprincipal .form4 {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: #1E58DE;
      margin: 1rem 1rem 1rem 1rem; }
      body main .formproyecto .formularioprincipal .form4 label {
        font-size: 1.2rem;
        line-height: 1.4rem; }
    body main .formproyecto .formularioprincipal .form5 {
      margin: 1rem 1rem 1rem 1rem; }
    body main .formproyecto .formularioprincipal input[type=reset] {
      background-color: rgba(240, 248, 255, 0);
      border: 0.1rem solid #1b146400;
      color: #1B1464;
      height: 2rem;
      width: 8rem;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem; }

body main .titulocontacto b {
  color: transparent;
  background: url(../media/jpg/imagen1.jpg);
  -webkit-background-clip: text; }

body main .forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 8rem;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10rem; }
  body main .forms iframe {
    padding-top: 3rem; }
  body main .forms form {
    font-size: 1.5rem;
    color: #1E58DE; }
    body main .forms form input[type=submit] {
      background-color: rgba(240, 248, 255, 0);
      border: 0.1rem solid;
      color: #1E58DE;
      height: 2rem;
      width: 5rem;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      transition: 1s; }
      body main .forms form input[type=submit]:hover {
        border-radius: 1rem; }
    body main .forms form input[type=email] {
      border: 0.1rem solid #2365FF;
      border-radius: 2rem;
      height: 2rem;
      width: 16rem;
      padding-left: 1vw;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem; }

body main .formularioprincipal input[type=submit] {
  background-color: rgba(240, 248, 255, 0);
  border: 0.1rem solid;
  color: #1E58DE;
  height: 2rem;
  width: 5rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  transition: 1s; }
  body main .formularioprincipal input[type=submit]:hover {
    border-radius: 1rem; }

body main .formularioprincipal label {
  font-size: 1.5rem;
  color: #1E58DE; }

body main .formularioprincipal fieldset {
  display: block;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
  border: 0.1rem solid #1B1464;
  margin-top: 2rem;
  background-color: #c0d3fe; }
  body main .formularioprincipal fieldset legend {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #1B1464;
    margin: 1rem; }
  body main .formularioprincipal fieldset .form1, body main .formproyecto .formularioprincipal fieldset .form2, body main .formproyecto .formularioprincipal fieldset .form3, body main .formularioprincipal fieldset .form2, body main .formularioprincipal fieldset .form3 {
    font-size: 1.3rem;
    color: #1E58DE;
    margin: 1rem 1rem 1rem 1rem; }
    body main .formularioprincipal fieldset .form1 input, body main .formproyecto .formularioprincipal fieldset .form2 input, body main .formproyecto .formularioprincipal fieldset .form3 input, body main .formularioprincipal fieldset .form2 input, body main .formularioprincipal fieldset .form3 input {
      border: 0.1rem solid #2365FF;
      border-radius: 2rem;
      height: 2rem;
      width: 100%;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      padding-left: 1rem; }
  body main .formularioprincipal fieldset .form2 input {
    border: 0.1rem solid #2365FF;
    border-radius: 2rem;
    height: 2rem;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    justify-content: space-between; }
  body main .formularioprincipal fieldset .form3 textarea {
    width: 100%;
    height: 14rem;
    box-sizing: border-box;
    border: 0.1rem solid #2365FF;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 00.5rem 1rem 0.5rem 1rem; }
  body main .formularioprincipal fieldset .form4 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #1E58DE;
    margin: 1rem 1rem 1rem 1rem; }
    body main .formularioprincipal fieldset .form4 label {
      font-size: 1.2rem;
      line-height: 1.4rem; }
  body main .formularioprincipal fieldset .form5 {
    margin: 1rem 1rem 1rem 1rem; }
  body main .formularioprincipal fieldset input[type=reset] {
    background-color: rgba(240, 248, 255, 0);
    border: 0.1rem solid #1b146400;
    color: #1B1464;
    height: 2rem;
    width: 8rem;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem; }

/* INDEX */
@media screen and (max-width: 1200px) {
  body main {
    margin-right: 3rem;
    margin-left: 9rem; }
    body main input[type=email] {
      width: 45vw; }
  header .logo {
    max-height: 11.5rem;
    margin-top: 0.8rem; }
  header p {
    margin-left: 9rem; }
  header div {
    margin-right: 3rem; }
  header nav {
    margin-left: -15rem; }
    header nav ul {
      font-size: 2rem; }
  footer section {
    margin-left: 9rem; }
    footer section p {
      font-size: 0.8rem;
      line-height: 0.8rem; } }

@media screen and (max-width: 800px) {
  header .logo {
    max-height: 10rem;
    margin-top: 0.8rem; }
  header p {
    margin-left: 8rem;
    line-height: 2.4vw; }
  header nav {
    margin-left: -16rem; }
    header nav ul {
      font-size: 1rem; }
  body main {
    margin-right: 3rem;
    margin-left: 8rem; }
  .mainprincipal {
    display: flex;
    display: inline; }
    .mainprincipal .newsletterindex {
      margin-top: 2rem;
      margin-bottom: 3rem; }
    .mainprincipal .carruselindex2 {
      margin-bottom: 10vw; }
  footer {
    padding-top: 8vw; }
    footer .footer {
      display: none; }
    footer section {
      margin-left: 8rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 1rem; }
      footer section .logofooter {
        display: none; } }

@media screen and (max-width: 800px) and (max-width: 600px) {
  body main {
    margin-left: 3rem;
    padding-top: 17rem; }
  header {
    background-color: #c0d3fe;
    position: fixed;
    width: 100%;
    padding-top: 0rem;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between; }
    header p {
      margin-left: 6rem;
      font-size: 2.5vw;
      line-height: 2.8vw; }
    header .logo {
      max-height: 8rem;
      margin-top: 0rem; }
    header nav {
      display: none; }
    header .redes {
      height: 1.8rem; }
  /* Menú Hamburguesa */
  .navbar {
    display: block;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 5rem;
    margin-left: 5.1rem; }
    .navbar-nav {
      align-items: flex-start;
      --bs-navbar-color: map-get($color, terciario);
      --bs-navbar-active-color: map-get($color, principal);
      font-size: 1rem; }
  .bg-light {
    background-color: #c0d3fe !important; }
    .bg-light .navbar-toggler {
      border-color: #1B1464; }
      .bg-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(35,101,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  footer section {
    margin: 0rem;
    padding: 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer section .redes {
      height: 1.8rem; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  body main {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 16rem;
    padding-bottom: 5rem; }
    body main h1 {
      font-size: 12vw;
      line-height: 12vw;
      font-weight: 500;
      color: #1B1464; }
    body main h3 {
      font-size: 8vw;
      line-height: 8vw;
      font-weight: 400;
      color: #1B1464; }
  .mainprincipal .seccionprincipal1 div a {
    font-size: 4.5vw; }
  .newsletterindex .newsletter input[type=email] {
    width: 100%; }
  footer section {
    margin-right: 2rem;
    margin-left: 2rem; } }

@media screen and (max-width: 800px) and (max-width: 300px) {
  header {
    height: 12rem; }
    header div img {
      display: none; }
  body main {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 14rem;
    padding-bottom: 2rem; } }

@media screen and (max-width: 800px) {
  /* STORE */ }

@media screen and (max-width: 800px) and (max-width: 1200px) {
  .tipoproductos {
    margin-top: 5vw;
    margin-bottom: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 5vw; }
    .tipoproductos p {
      margin-top: 1vw;
      margin-bottom: 2vw;
      font-size: 1.5vw;
      line-height: 2vw; } }

@media screen and (max-width: 800px) and (max-width: 800px) {
  .tipoproductos {
    grid-row-gap: 3vw; }
    .tipoproductos p {
      font-size: 2vw;
      line-height: 2.5vw; } }

@media screen and (max-width: 800px) and (max-width: 600px) {
  .mainstore h2 {
    font-size: 8vw;
    line-height: 8.5vw; }
  .tipoproductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5vw; }
    .tipoproductos h3 {
      font-size: 6vw;
      line-height: 6.5vw; }
    .tipoproductos p {
      margin-top: 1vw;
      margin-bottom: 2vw;
      font-size: 3vw;
      line-height: 4vw; }
  .destacado {
    font-size: 4vw; }
  header div p {
    display: none; }
  .acordionstore .accordion-button {
    font-size: 5vw;
    line-height: 5.3vw; }
  .acordionstore .accordion-collapse {
    font-size: 3vw;
    line-height: 3.3vw; }
  .acordionstore .accordion h3 {
    padding-top: 8vw;
    font-size: 6vw;
    line-height: 6.2vw; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  .destacado {
    font-size: 6vw; }
  .tipoproductos p {
    font-size: 4vw;
    line-height: 5vw; } }

@media screen and (max-width: 800px) and (max-width: 300px) {
  body header {
    height: 10rem; }
    body header div {
      display: none; }
  body main {
    padding-top: 12rem; } }

@media screen and (max-width: 800px) {
  /* PROYECTO */ }

@media screen and (max-width: 800px) and (max-width: 1200px) {
  body main .mainproyecto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "imagen1 tituloproyecto tituloproyecto" "imagen1 sobreproyecto sobreproyecto" "imagen1 imagen2 imagen2";
    padding-top: 4vw;
    padding-bottom: 5vw; }
    body main .mainproyecto .tituloproyecto {
      font-size: 6vw;
      line-height: 6.3vw; }
    body main .mainproyecto .sobreproyecto {
      font-size: 5vw;
      line-height: 5.2vw; }
      body main .mainproyecto .sobreproyecto h4 {
        font-size: 3vw;
        line-height: 3.3vw; }
      body main .mainproyecto .sobreproyecto p {
        font-size: 2vw;
        line-height: 2.3vw;
        margin-top: 2vw;
        margin-bottom: 2vw; } }

@media screen and (max-width: 800px) and (max-width: 800px) {
  body main .mainproyecto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 0.5fr 4fr;
    grid-template-areas: "imagen1 imagen1 imagen1" "tituloproyecto tituloproyecto tituloproyecto" "imagen2 sobreproyecto sobreproyecto"; } }

@media screen and (max-width: 800px) and (max-width: 600px) {
  body main .mainproyecto {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen1" "tituloproyecto" "sobreproyecto" "imagen2";
    row-gap: 8vw;
    margin-top: 0rem; }
    body main .mainproyecto .tituloproyecto {
      font-size: 7vw;
      line-height: 7.3vw; }
    body main .mainproyecto .sobreproyecto h4 {
      font-size: 4vw;
      line-height: 4.3vw; }
    body main .mainproyecto .sobreproyecto p {
      font-size: 2.5vw;
      line-height: 2.8vw;
      margin-top: 2vw;
      margin-bottom: 2vw; }
  body main .formproyecto .formularioprincipal h3 {
    font-size: 2rem;
    line-height: 2.2rem; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  body main .mainproyecto .tituloproyecto {
    font-size: 8vw;
    line-height: 8.3vw; }
  body main .mainproyecto .sobreproyecto h4 {
    font-size: 5vw;
    line-height: 5.3vw; }
  body main .mainproyecto .sobreproyecto p {
    font-size: 4vw;
    line-height: 4.3vw; }
  body main .formproyecto {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    padding-top: 2rem; } }

@media screen and (max-width: 800px) {
  /* CONTACTO */ }

@media screen and (max-width: 800px) and (max-width: 1200px) {
  body main {
    margin-bottom: 0px;
    padding-bottom: 0px; }
    body main .forms {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding-top: 2rem;
      padding-bottom: 0px;
      row-gap: 4vw; }
    body main .formularioprincipal {
      margin-bottom: 0px;
      padding-bottom: 0px; }
      body main .formularioprincipal fieldset {
        width: auto;
        margin-bottom: 0px;
        border: 0rem; }
        body main .formularioprincipal fieldset .form1 label, body main .formproyecto .formularioprincipal fieldset .form2 label, body main .formproyecto .formularioprincipal fieldset .form3 label, body main .formularioprincipal fieldset .form2 label, body main .formularioprincipal fieldset .form3 label {
          font-size: 1.5rem; } }

@media screen and (max-width: 800px) and (max-width: 800px) {
  .formularioprincipal fieldset div label {
    font-size: 4vw; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  .formularioprincipal fieldset div label {
    font-size: 5vw; } }

@media screen and (max-width: 800px) {
  /* ARTWORKS */ }

@media screen and (max-width: 800px) and (max-width: 800px) {
  body main .bloqueartwork {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6vw; }
  body main .bloqueultimos {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 4vw;
    margin-bottom: 0rem;
    margin-top: 0rem;
    align-items: stretch; }
    body main .bloqueultimos div h4 {
      font-size: 3vw; }
    body main .bloqueultimos div p {
      font-size: 2vw; }
  body main .bloqueartwork {
    padding: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    column-gap: 5vw; }
    body main .bloqueartwork p {
      font-size: 2vw;
      line-height: 2.3vw; } }

@media screen and (max-width: 800px) and (max-width: 600px) {
  body main .descripciontrabajosdestacados {
    font-size: 4vw;
    line-height: 4.3vw; }
  body main .bloqueartwork p {
    font-size: 2.4vw;
    line-height: 2.9vw; }
  body main .bloqueartwork div h5 {
    font-size: 3vw;
    line-height: 3.4vw; }
  body main .tituloartwork2 {
    font-size: 5vw;
    line-height: 5.2vw;
    padding-top: 5vw; }
  body main .bloqueultimos {
    margin-bottom: 12vw; }
    body main .bloqueultimos div h4 {
      font-size: 4vw;
      line-height: 4.3vw; }
    body main .bloqueultimos div p {
      font-size: 3vw;
      line-height: 3.2vw; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  body main .bloqueultimos div h4 {
    font-size: 5vw;
    line-height: 5.3vw; }
  body main .bloqueultimos div p {
    font-size: 4vw;
    line-height: 4.2vw; }
  body main .bloqueartwork p {
    font-size: 3.4vw;
    line-height: 3.9vw; }
  body main .bloqueartwork div h5 {
    font-size: 4vw;
    line-height: 4.4vw; }
  body main .descripciontrabajosdestacados {
    font-size: 5vw;
    line-height: 5.3vw; }
  body main .tituloartwork2 {
    font-size: 6vw;
    line-height: 6.2vw;
    padding-top: 5vw; } }
