/* INDEX */
@media screen and (max-width: 1200px){


    body main{
        margin-right: 3rem;
        margin-left:9rem;

        input[type=email]{
            width: 45vw;
        }
    }

    header{

        .logo {
            max-height: 11.5rem;
            margin-top: 0.8rem;
        }

        p{
            margin-left: 9rem;
        }

        div{
            margin-right: 3rem;
        }

        nav{
            margin-left: -15rem;
            ul{
                font-size: 2rem;
            }
        }
    }

    footer section{
        margin-left: 9rem;

        p{
            font-size: 0.8rem;
            line-height: 0.8rem;
        }
    }

}

@media screen and (max-width: 800px) {

    header {

        .logo {
            max-height: 10rem;
            margin-top: 0.8rem;
        }

        p{
            margin-left: 8rem;
            line-height: 2.4vw;
        }

        nav{
            margin-left: -16rem;

            ul{
                font-size: 1rem;
            }
        }
    }

    body main{
        margin-right: 3rem;
        margin-left:8rem;
    }

    .mainprincipal{
        display: flex;
        display: inline;

        .newsletterindex{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }

    footer section{
        margin-left: 8rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;

        .logofooter{
            display: none;
        }
    }
}

@media screen and (max-width: 600px){

    body main{
        margin-left:3rem;
        padding-top: 17rem;
    }

    header{
        background-color: map-get($color,fondo);
        position:fixed;
        width: 100%;
        padding-top: 0rem;
        margin-top: 0rem;
        display: flex;
        justify-content: space-between;

        p{
            margin-left: 6rem;
            font-size: 2.5vw;
            line-height: 2.8vw;
        }

        .logo {
            max-height: 8rem;
            margin-top: 0rem;
        }

        nav{
            display: none;
        }

        .redes{
            height: 1.8rem;
        }
    }

    /* Menú Hamburguesa */
    .navbar{
        display: block;
        position: fixed;
    
        -webkit-transform: rotate(0deg);  
        -moz-transform: rotate(0deg);  
        -ms-transform: rotate(0deg);  
        -o-transform: rotate(0deg);  
        transform: rotate(0deg);  
    
        margin-top: 5rem;
        margin-left: 5.1rem;
    
        &-nav{
            align-items: flex-start;
            --bs-navbar-color: #2365FF;
            --bs-navbar-active-color: #1B1464;
            font-size: 1rem;
        } 
    }
    
    .bg-light {
        background-color: #abc3fc !important;
            .navbar-toggler {
                border-color: #1B1464;
            
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(35,101,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
        }
    }

    footer section{
            margin:0rem;
            padding: 0rem;
            margin-left: 3rem;
            margin-right: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .redes{
                height: 1.8rem;
            }
        }
}

@media screen and (max-width: 400px){
    body main{
        margin-left:2rem;
        margin-right: 2rem;
        padding-top: 16rem;
        padding-bottom: 5rem;

        h1{
            @include texto(12vw, 12vw, 500, map-get($color, principal));
        }

        h3{
            @include texto(8vw, 8vw, 400, map-get($color, principal));
        }
    }

    .mainprincipal{
        .seccionprincipal1{
            div a{
                font-size: 4.5vw;
            }
        }
    }

    .newsletterindex{
        .newsletter{
            input[type=email]{
                width: 100%;
            }
        }
    }

   footer section{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}


@media screen and (max-width: 300px){
    header{ 
        height: 12rem;

        div img{
            display: none;
        }
    }

    body main{
        margin-left:1rem;
        margin-right: 1rem;
        padding-top: 14rem;
        padding-bottom: 2rem;
    }
}



