body{
    a{
        text-decoration: none;
    }

    .mainstore{
        padding-bottom: 0%;
    }
}

.tipoproductos{
    padding-top: 5vw;
    padding-bottom: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 3vw;
    
    img{
        width: 100%;
    }

    a{
        padding-right: 1rem;
        padding-left: 0.5rem;
        border: 0.1rem solid map-get($color, secundario);
        color:map-get($color, terciario);
        height: 100%;
        width: 100%;
        transition: 1s;
        
        &:hover{
            border-radius: 2rem;
            height: fit-content;
            width: fit-content;
            font-size: 120%;
        }
    }
    
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .comosehacen{
        background-color:map-get($color, fondo);
        object-fit: contain;
    
        div{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    
        p{
            font-weight: 400;
        }
    }
}

.acordionstore{
    padding-bottom: 6rem;
    background-color: map-get($color, fondo);

    .accordion{
        margin: 2rem;
        --bs-accordion-color:map-get($color, principal);
        --bs-accordion-bg: #fff;
        --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
        --bs-accordion-active-color: map-get($color, secundario);
        --bs-accordion-active-bg: hsl(0, 0%, 100%);
        --bs-accordion-active-bg:map-get($color, fondo);

        h3{
            padding-top: 4vw;
            padding-bottom: 2vw;
        }

        &-button {
            font-size: 1.5rem;
            color: map-get($color, principal)
        }

        &-collapse{
            font-weight: 400;
        }

        &-body{
            color: map-get($color, principal);
        }
    }
}


