/* Reset CSS */
* {
    Margin:0;
    padding:0;
}

/* Setear tamaño rem=10px (aprox) */
html{
    font-size: 62,5%
}

/* Mixin textos */
@mixin texto($size, $line, $fontweight, $fontcolor) {
    font-size: $size;
    line-height: $line;
    font-weight: $fontweight;
    color: $fontcolor;
}

/* Mixin imágenes */
@mixin imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Color Map */
$color:(
    principal: #1B1464,
    secundario: #1E58DE,
    terciario: #2365FF,
    fondo:#c0d3fe
);


/* Font styles */

body{ 
    font-family: 'Poppins', sans-serif;
}

h1{
    @include texto(10vw, 10vw, 500, map-get($color, principal));
}

h2{
    @include texto(6vw, 6vw, 500, map-get($color, principal));
}

h3{
    @include texto(4vw, 4vw, 400, map-get($color, principal));
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h4{
    @include texto(2vw, 2.3vw, 400, map-get($color, secundario));
}

h5{
    @include texto(2vw, 2vw, 300, map-get($color, secundario));
}

p{
    @include texto(1rem, 1.25rem, 300, map-get($color, principal));
}


@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4vw);
        height:var(--size, 4vw);
    }
    100% {
        width:0rem;
        height:0rem;
    }
    }
    @keyframes bubble-move {
    0% {
        bottom:-4vw;
    }
    100% {
        bottom:var(--distance, 10vw);
    }
    }